/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap');


/* general configs */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;

}

:root{
    --color-text: rgba(20, 20, 20);
    --border-color: rgba(20, 10, 10, .5);
    --buttons-background: rgba(245, 250, 255, .3);
    --border-color-hover: rgba(20, 10, 10, 9);
    --buttons-background-hover: rgba(245, 250, 255, 1);
    --background: rgba(240, 240, 240, .3);
    --border-main: rgb(20, 20, 20);
    --back-img: url(../assets/svg/background-light.svg);

    --mode-icon: url(../assets/svg/brightness-high-fill.svg);
    --icon-color: rgb(225, 225, 225);

}

